@tailwind base;
@tailwind components;
@tailwind utilities;


.card-Image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    
  }
.I-card-Image {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    
  }
  
  .card-bg{
    background: linear-gradient( #74a5ee,rgb(238, 173, 217),rgb(129, 81, 207));
  }
  .field-bg{
    background: linear-gradient(rgb(238, 173, 217),rgb(129, 81, 207));
  }
  .input-bg{
    background:rgb(173, 147, 245);
  }