@tailwind base;
@tailwind components;
@tailwind utilities;


.C-body{
   
        background: linear-gradient(#87bb8c,#87bb8c);
      }
/* .bg-card{
   
        background: linear-gradient(rgb(248, 194, 248) ,rgb(248, 194, 248) ,rgb(248, 194, 248) );
      } */
.Dis-body{
   
        background: linear-gradient(rgb(248, 194, 248) ,rgb(248, 194, 248) ,rgb(248, 194, 248) );
      }

 .img-t{
transition:all 1.1s ;
 }     

 .for-transform :hover .img-t{
    transform: scale(1.2);
 }

.bg-t{
  /* background-image: url("https://i.ibb.co/wNCjnq7/bg-ins.jpg");
  background-size: cover; */
  background: linear-gradient(#7221D6,#c53998);
  
}

.border-card{
  border-radius: 20px;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
}


.class-card-bg{
  background: linear-gradient(#8562d7, #9dd357,#bbd247,#7ac7e3,#2a1da4);

}
.button-bg{
  background: linear-gradient(#a68be7, #9dd357,#bbd247,#7ac7e3,#e85bc7);

}

.footer-bg{
  background: linear-gradient( #9dd357,#7aef8c,#56ce54);

}
.nav-bg{
  background: linear-gradient( #82bb37,#87bb8c);

}
.all-card-bg{
  background: linear-gradient( #9ee344,#8edc96);

}

.Dbg-img{
  background: linear-gradient(#8562d7, #9dd357,#bbd247,#7ac7e3,#2a1da4);
  
}

